<form id="form-empresa">
    <input type="hidden" id="id" name="id">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="">Razão Social:</label>
            <input type="text" class="form-control" id="rz" name="razao_social" required>
        </div>
        <div class="form-group col-3">
            <label for="">Inscrição Estadual:</label>
            <input type="text" class="form-control" id="insc_estadual" name="insc_estadual" required>
        </div>
        <div class="form-group col-3">
            <label for="">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-5">
            <label for="">Endereço:</label>
            <input type="text" class="form-control" id="endereco" name="endereco" required>
        </div>
        <div class="form-group col-1">
            <label for="">Nº:</label>
            <input type="text" class="form-control" id="numero" name="numero" required>
        </div>
        <div class="form-group col-3">
            <label for="">Bairro:</label>
            <input type="text" class="form-control" id="bairro" name="bairro" required>
        </div>
        <div class="form-group col-3">
            <label for="">Municipio:</label>
            <input type="text" class="form-control" id="municipio" name="municipio" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-2">
            <label for="">CEP:</label>
            <input type="text" class="form-control" id="cep" name="cep" required>
        </div>
        <div class="form-group col-2">
            <label for="">Estado(UF):</label>
            <select class="custom-select" id="sigla-uf" name="uf" required>
                <option value="">...</option>
            </select>
        </div>
    </div>
    <hr>
    <h3>Dados para gerar arquivo idenfiticação</h3>
    <div class="form-row">
        <div class="form-group col-5">
            <label for="">Nome:</label>
            <input type="text" class="form-control" id="nome_responsavel" name="nome_responsavel" required>
        </div>
        <div class="form-group col-4">
            <label for="">Email:</label>
            <input type="email" class="form-control" id="email_responsavel" name="email_responsavel" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-5">
            <label for="">Cargo:</label>
            <input type="text" class="form-control" id="cargo_responsavel" name="cargo_responsavel" required>
        </div>
        <div class="form-group col-4">
            <label for="">Telefone:</label>
            <input type="text" class="form-control tel" id="tel_responsavel" name="tel_responsavel" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3 mx-auto" id="divButtons">
            <button type="button" id="btn_alterar" class="btn btn-lg btn-warning">Alterar</button>
            <button type="button" id="btn_salvar" class="btn btn-lg btn-success">Salvar</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        for(let s in estadosUF){ //Preenche select de estado com as siglas.
            $("#sigla-uf").append(`<option value='${estadosUF[s].sigla}'> ${estadosUF[s].nome} - ${estadosUF[s].sigla} </option>`);
        }

        $.ajax({
            type: "POST",
            url: "",
            data: {class: 'Empresa', action: 'getCompanyData'},
            error: function () { alert("Não foi possível atender sua requisição."); },
            success: function (data, textStatus, jqXHR) {
                if (data != false) {
                    $("#form-empresa :input").not("button").prop("disabled",true); //deixa todos inputs desativados caso exista dados no db.
                    //preenche o formulario com dados do banco.
                    $("#id").val( data.id );
                    $("#rz").val( data.razao_social );
                    $("#insc_estadual").val( data.inscricao_estadual );
                    $("#cnpj").val( data.cnpj );
                    $("#endereco").val( data.endereco );
                    $("#numero").val( data.numero );
                    $("#municipio").val( data.municipio );
                    $("#bairro").val( data.bairro );
                    $("#cep").val( data.cep );
                    $("#sigla-uf").val( data.uf );
                    $("#nome_responsavel").val( data.nome_responsavel );
                    $("#email_responsavel").val( data.email_responsavel );
                    $("#cargo_responsavel").val( data.cargo_responsavel );
                    $("#tel_responsavel").val( data.tel_responsavel );
                }
            }

        });

        //Retira classe quando receber focus
        $("#form-empresa input, select").blur(function(){
            $(this).removeClass("inp-error");
        });
        
        //Button Salvar Cadastro Empresa
        $("#btn_salvar").on("click", function () {
            let err = 0;
            $("#form-empresa input, select").not(":input[type=hidden]").each(function () {//Verifica se existe campos não preenchidos.
                if ($(this).val() == "") {
                    err++;
                    $(this).addClass("inp-error");
                }
            });
                if(err > 0){//Exibe um alert se hover campos não preenchidos
                    $.alert({ type: 'red', title: 'Atenção!', content: 'Por favor preencha os campos marcados!'});
                }else{//Salva dados da empresa no banco de dados.
                    let arrayF = $('#form-empresa').serializeArray();
                    $.ajax({
                        type: "POST",
                        url: "",
                        data: {class: 'Empresa', action: 'saveCompany', data: arrayF },
                        error: function () { alert("Não foi possível atender sua requisição."); },
                        success: function (data, textStatus, jqXHR){
                            if( data === true){
                                $.alert({ type: 'green', title: 'Empresa cadastrada!', content: 'Tudo certo. Se precisar alterar clique no botão alterar!', });
                            }else{
                               alert(data);
                            }
                        }   
                    });
                }                
        });

        //Button Alterara Cadastro Empresa
        $("#btn_alterar").on("click", function () {
            $(this).hide();//Oculta buttons 
            $("#btn_salvar").hide();//Oculta buttons 
            $("#divButtons").append('<button type="button" id="btn_temp_alterar" class="btn btn-lg btn-info">Alterar</button>');//Adiciona novo button, para bindar a uma função.
            $("#form-empresa :input").not("button").prop("disabled",false);//habita os inputs
            $("#btn_temp_alterar").click(function (){
                let arrayF = $('#form-empresa').serializeArray();
                $.ajax({//Envia dados atualizados para o back-end.
                        type: "POST",
                        url: "",
                        data: {class: 'Empresa', action: 'updateCompany', data: arrayF },
                        error: function () { alert("Não foi possível atender sua requisição."); },
                        success: function (data, textStatus, jqXHR){
                            if( data === true){
                                $.alert({ type: 'green', title: 'Sucesso!', content: 'Os dados empresarias foram atualizados!', });
                                $("#btn_temp_alterar").remove();
                            }
                        }   
                    });
            });
        });
    });
</script>