<!-- css table -->
<link rel="stylesheet" href="assets/css/dataTables-bootstrap.min.css">
<!-- css table -->
<form id="form-nf">
    <div class="alert alert-primary" role="alert">
        Preencha o CPF/CNPJ de um cliente cadastrado no sistema.
    </div>
    <div class="form-row">
        <input type="hidden" id="id" name="id">
        <div class="form-group col-2">
            <label for="cpf_cnpj">CPF/CNPJ Cliente:</label>
            <input type="text" class="form-control" id="cpf_cnpj" name="cpf_cnpj">
        </div>
        <div class="form-group col-4">
            <label for="razao_social">Razão Social:</label>
            <input type="text" class="form-control" id="razao_social" name="razao_social" readonly>
        </div>
        <div class="form-group col-2">
            <label for="insc_estadual">Inscrição Estadual:</label>
            <input type="text" class="form-control" name="insc_estadual" id="insc_estadual" readonly>
        </div>
    </div>
    <!-- spinner loader -->
    <div class="divLoader" id="spinner-loader" style="display:none;">
        <div class="mx-auto my-auto spinner-loader"></div>
    </div>
    <!-- spinner loader -->
    <div class="form-row">
        <div class="form-group col-2">
            <label for="dt_emissao">Data de emissão:</label>
            <input type="date" class="form-control" name="dt_emissao">
        </div>
        <div class="form-group col-2">
            <label for="ano_mes_apu">Ano e mês de apuração:</label>
            <input type="text" class="form-control" id="ano_mes_apu" name="ano_mes_apu" placeholder="Ex: 19/12">
        </div>
        <div class="form-group col-2">
            <label for="situacao_doc">Situação do documento:</label>
            <select class="custom-select" name="situacao_doc">
                <option value="" selected>...</option>
                <option value="N">Normal</option>
                <option value="S">Cancelado</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="modelo">Modelo:</label>
            <select class="custom-select" name="modelo">
                <option value="" selected>...</option>
                <option value="21">21</option>
                <option value="22">22</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="tipo_cliente">Tipo de Cliente:</label>
            <select class="custom-select" name="tipo_cliente">
                <option value="" selected>...</option>
                <option value="01">Comercial</option>
                <option value="02">Industrial</option>
                <option value="03">Residencial/Pessoa Fisica</option>
                <option value="04">Produtor Rural</option>
                <option value="05">Orgão da Administração Pública</option>
                <option value="06">Prestador de Serviço de Telecomunicações</option>
                <option value="07">Missões Diplomáticas, Repartições Consulares e Organismos Internacionais</option>
                <option value="08">Igreja e Templos de qualquer natureza</option>
                <option value="99">Outros</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="situacao_doc">Fase ou tipo de utilização:</label>
            <select class="custom-select" name="tipo_utilizacao">
                <option value="" selected>...</option>
                <option value="1">Telefonia</option>
                <option value="2">Comunicação de dados</option>
                <option value="3">TV por Assinatura</option>
                <option value="4">Provimento de acesso à Internet</option>
                <option value="5">Multimídia</option>
                <option value="6">Outros</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label for="cfop">CFOP</label>
            <input type="text" class="form-control" id="cfop" name="cfop" placeholder="Ex: 0104">

        </div>
        <div class="form-group  col-2">
            <div class="mt-4">
                <a id="tabela-cfop" data-menu="tabela-CFOP" class="badge badge-info"
                    style="font-size: 100%; font-weight: 500; cursor: pointer;">TABELA CFOP</a>
            </div>

        </div>
    </div>
</form>
<h5>Serviços</h5>
<hr>
<form id="form-itemService" action="POST">
    <div class="form-row">
        <div class="form-group col-2">
            <label for="cod_service">Cód. Serviço:</label>
            <input type="text" class="form-control" id="cod_service" name="cod_servico" onkeypress="return formatData(event, /[A-Za-z0-9]/);" maxlength="10">
        </div>
        <div class="form-group col-4">
            <label for="descricao_servico">Descrição:</label>
            <input type="text" class="form-control" id="descricao_servico" name="descricao_servico" maxlength="40">
        </div>
        <div class="form-group col-2">
            <label for="total_service">Valor total R$:</label>
            <input type="text" class="form-control" id="total_service" name="total_servico" maxlength="11">
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-1">
            <label for="unidade_servico">Unidade:</label>
            <input type="text" class="form-control" id="unidade_servico" name="unidade_servico" value="UN" readonly>
        </div>
        <div class="form-group col-2">
            <label for="qtn_faturada_servico">Quantidade Faturada:</label>
            <input type="text" class="form-control" name="qtn_faturada_servico" id="qtn_faturada_servico" maxlength="11" value="1,00" readonly>
        </div>
        <div class="form-group col-2">
            <label for="bc_icms_servico">Base Cálculo ICMS:</label>
            <input type="text" class="form-control" id="bc_icms_servico" name="bc_icms_servico" maxlength="11" readonly>
        </div>
        <div class="form-group col-2">
            <button type="button" id="btnAddService" class="btn btn-info mt-4">Inserir</button>
        </div>
    </div>
</form>

<table id="tb_item" class="table table-sm table-bordered">
    <thead class="thead">
        <tr>
            <th scope="col">COD_SERVICE</th>
            <th scope="col">SEVIÇO</th>
            <th scope="col">R$</th>
            <th scope="col">UN</th>
            <th scope="col">QNT</th>
            <th scope="col">ICMS</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="form-row">
    <div class="form-group col-md-3 mx-auto" id="divButtons">
        <button type="button" id="btn_save" class="btn btn-warning">Concluir NF</button>
    </div>
</div>
<hr>


<script>
    //masks inputs
    $("#total_service").mask("#.##0,00", {reverse: true});
    $("#qtn_faturada_servico").mask("#,00");
    //$("#bc_icms_servico").mask("#.##0,00", { reverse: true });
    $("#dt_emissao").mask("00/00/0000");
    $("#ano_mes_apu").mask("00/00");
    $("#cfop").mask("0000");

    //document ready
    $(document).ready(function () {
        //Preencher Base de Calculo com o mesmo valor do total.
        $("#total_service").on("keyup", function(){
            $("#bc_icms_servico").val( $(this).val() );
        });
        //Mostra a tabela de classificação do item do doc fiscal
        $("#tabela-cfop").on("click", function () {
            let titleContent = document.getElementById("title-page");
            let title = titlePage( $(this).data("menu") );
            titleContent.innerHTML = title;
            let page = $(this).data("menu");
            page = './views/' + page + '.html';
            $("#content").load(page, function (response, status, xhr) {
                if (status == "error") { //Se não encontrar pagina na pasta VIEW.
                    var msg = "Desculpe, mas houve um erro: ";
                    $("#content").html(msg + xhr.status + " " + xhr.statusText);
                }
            });
        });
        //Instancia do plugin
        const table = $("#tb_item").DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false
        });
        //Evento apos campo CPF/CNPJ perder o foco envia uma solicitação para verificar se existe cliente.
        $("#cpf_cnpj").on("blur", function () {
            let cpf_cnpj = $(this).val();
            if (cpf_cnpj.length < 14) {
                $(this).val('');
                $(this).attr("autofocus");
                $.alert({ type: 'red',title: 'Atenção!',content: 'CPF Inválido!'});
            }   else if (cpf_cnpj.length > 14 && cpf_cnpj.length < 18) {
                $.alert({ type: 'red',title: 'Atenção!',content: 'CNPJ Inválido!' });
            } else {
                //busca informações do cliente
                $.ajax({
                    type: "POST",
                    url: "",
                    data: {class: 'Cliente',action: 'getClientByCpfCnpj',data: cpf_cnpj},
                    error: function () {alert("Não foi possível atender sua requisição.");},
                    beforeSend: function () {$("#spinner-loader").show();},//carrega spinner
                    success: function (data, textStatus, jqXHR) {
                        $("#spinner-loader").hide();
                        if (data === false) {
                            $.alert({type: 'red', title: 'Atenção!',content: 'O CPF/CNPJ informado não está associado a um cliente, por favor cadastre o cliente.'});
                            $("#form-cliente").trigger('reset');
                        }
                        //console.log(data);
                        $("#razao_social").val(data.razao_social);
                        $("#insc_estadual").val(data.inscricao_estadual);
                        $("#id").val(data.id);
                    }
                });

            }
        });

        //Retira classe quando receber focus
        $("#form-itemService input").focus(function () {
            $(this).removeClass("inp-error");
        });

        $("#btnAddService").on("click", function () {
            let err = 0;
            //var arrayS = $('#form-itemService').serialize();
            var arrayS = $('#form-itemService').serializeArray();
            $("#form-itemService input").each(function () {
                if ($(this).val() == "") {
                    err++;
                    $(this).addClass("inp-error");
                }
            });
            if (err > 0) {
                $.alert({type: 'red',title: 'Atenção!',content: 'Preencha todos os campos!'});
            } else {
                $("#form-itemService").trigger('reset');
                //addItem(arrayS[1]['value'], arrayS[3]['value'], arrayS[2]['value']);
                table.row.add([arrayS[0]['value'], arrayS[1]['value'], arrayS[2]['value'], arrayS[3]['value'], arrayS[4]['value'], arrayS[5]['value'],"<button tpye='button' class='btn-danger'>EXCLUIR</button>"
                ]).draw(false);
            }

        });
        //Deleta linha da tabela apos clicado no botao excluir
        $('#tb_item').on('click', 'button', function () {
            table.row($(this).parents('tr')).remove().draw();
        });

        $("#btn_save").on("click", function () {
            let dataForm = $('#form-nf').serializeArray();
            let dataService = dataTableFormated(  table.data() );
            //console.log(dataService);
            $.ajax({
                    type: "POST",
                    url: "",
                    data: {class: 'Nota', action: 'newNotaFiscal', dataFor: dataForm, data2: dataService},
                    error: function () {alert("Não foi possível atender sua requisição.");},
                    beforeSend: function () {$("#spinner-loader").show();},//carrega spinner
                    success: function (data, textStatus, jqXHR) {
                        $("#spinner-loader").hide();
                        
                        $.alert({type: 'green',title: 'Sucesso!', content: data});
                    }
            });
        });
    });
</script>