<form id="form-remessa">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Mês/Ano Referência:</label>
        <div class="col-sm-3">
            <select class="custom-select" name="mes" id="mes">
                <option value="" selected>Selecione o mês</option>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
        <div class="col-sm-1">
            <input type="text" name="ano" id="ano" class="form-control" value="2019" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Modelo:</label>
        <div class="col-sm-3">
            <select class="custom-select" name="modelo" id="modelo">
                <option value="" selected>Selecione o modelo</option>
                <option value="21">21</option>
                <option value="22" >22</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3 mx-auto">
            <button type="submit" class="btn btn-success">Gerar Arquivo</button>
        </div>
    </div>
</form>
<script>
$(document).ready(function () {
    //remove class
    $("#form-remessa select").focus(function () {
            $(this).removeClass("inp-error");
    });
    $("#form-remessa").on("submit", function(event){
        event.preventDefault();
        if ( $("#mes").val()  == '' ){
                $("#mes").addClass("inp-error");
                alert('Por favor, escolha um mês.');
        }else if( $("#modelo").val()  == '' ){
                $("#modelo").addClass("inp-error");
                alert('Por favor, escolha um modelo.');
        }else{
            //let mes = $("#mes").val();
            let dados = {mes: $("#mes").val(), ano: $("#ano").val() ,modelo:$("#modelo").val()};
            //console.log(data);
            $.ajax({
                    type: "POST",
                    url: "",
                    data: {class: 'Nota', action: 'createFileDestinatario', data: dados },
                    error: function () {alert("Não foi possível atender sua requisição.");},
                    //beforeSend: function () {$("#spinner-loader").show();},//carrega spinner
                    success: function (data, textStatus, jqXHR) {
                        //$("#spinner-loader").hide();
                        if(data === false){
                            alert('Nenhuma nota para esse mes.');
                        }
                        console.log(data);
                    }
            });
        }
        
    });

});
</script>
