<h2>11.5. Tabela de Classificação do Item de Documento Fiscal:</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Grupo</th>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <!-- 01 Assinatura -->
        <tr>
            <td class="table-active">01. Assinatura</td>
            <td>0101</td>
            <td>Assinatura de serviços de telefonia</td>
        </tr>
        <tr>
            <td></td>
            <td>0102</td>
            <td>Assinatura de serviços de comunicação de dados</td>
        </tr>
        <tr>
            <td></td>
            <td>0103</td>
            <td>Assinatura de serviços de TV por Assinatura</td>
        </tr>
        <tr>
            <td></td>
            <td>0104</td>
            <td>Assinatura de serviços de provimento à internet</td>
        </tr>
        <tr>
            <td></td>
            <td>0105</td>
            <td>Assinatura de outros serviços de multimídia</td>
        </tr>
        <tr>
            <td></td>
            <td>0199</td>
            <td>Assinatura de outros serviços</td>
        </tr>
        <!-- 02 Habilitação -->
        <tr>
            <td class="table-active">02. Habilitação</td>
            <td>0201</td>
            <td>Habilitação de serviços de telefonia</td>
        </tr>
        <tr>
            <td></td>
            <td>0202</td>
            <td>Habilitação de serviços de comunicação de dados</td>
        </tr>
        <tr>
            <td></td>
            <td>0203</td>
            <td>Habilitação de TV por Assinatura</td>
        </tr>
        <tr>
            <td></td>
            <td>0204</td>
            <td>Habilitação de serviços de provimento à internet</td>
        </tr>
        <tr>
            <td></td>
            <td>0205</td>
            <td>Habilitação de outros serviços multimídia</td>
        </tr>
        <tr>
            <td></td>
            <td>0299</td>
            <td>Habilitação de outros serviços</td>
        </tr>
        <!-- 03. Serviço Medido  -->
        <tr>
            <td class="table-active">03. Serviço Medido</td>
            <td>0301</td>
            <td>Serviço Medido - chamadas locais</td>
        </tr>
        <tr>
            <td></td>
            <td>0302</td>
            <td>Serviço Medido - chamadas interurbanas no Estado</td>
        </tr>
        <tr>
            <td></td>
            <td>0303</td>
            <td>Serviço Medido - chamadas interurbanas para fora do Estado</td>
        </tr>
        <tr>
            <td></td>
            <td>0304</td>
            <td>Serviço Medido - chamadas internacionais</td>
        </tr>
        <tr>
            <td></td>
            <td>0305</td>
            <td>Serviço Medido - Números Especiais (0300/0500/0600/0800/etc.)</td>
        </tr>
        <tr>
            <td></td>
            <td>0306</td>
            <td>Serviço Medido - comunicação de dados</td>
        </tr>
        <tr>
            <td></td>
            <td>0307</td>
            <td>Serviço Medido - chamadas originadas em Roaming</td>
        </tr>
        <tr>
            <td></td>
            <td>0308</td>
            <td>Serviço Medido - chamadas recebidas em Roaming</td>
        </tr>
        <tr>
            <td></td>
            <td>0309</td>
            <td>Serviço Medido - adicional de chamada</td>
        </tr>
        <tr>
            <td></td>
            <td>0310</td>
            <td>Serviço Medido - provimento de acesso à Internet</td>
        </tr>
        <tr>
            <td></td>
            <td>0311</td>
            <td>Serviço Medido - pay-per-view (programação TV)</td>
        </tr>
        <tr>
            <td></td>
            <td>0312</td>
            <td>Serviço Medido - Mensagem SMS</td>
        </tr>
        <tr>
            <td></td>
            <td>0313</td>
            <td>Serviço Medido - Mensagem MMS</td>
        </tr>
        <tr>
            <td></td>
            <td>0314</td>
            <td>Serviço Medido - outros mensagens</td>
        </tr>
        <tr>
            <td></td>
            <td>0315</td>
            <td>Serviço Medido - serviço multimídia</td>
        </tr>
        <tr>
            <td></td>
            <td>0399</td>
            <td>Serviço Medido - outros serviços</td>
        </tr>
        <!-- 04. Serviço pré-pago  -->
        <tr>
            <td class="table-active">04. Serviço pré-pago</td>
            <td>0401</td>
            <td>Cartão Telefônico - Telefonia Fixa</td>
        </tr>
        <tr>
            <td></td>
            <td>0402</td>
            <td>Cartão Telefônico - Telefonia Móvel</td>
        </tr>
        <tr>
            <td></td>
            <td>0403</td>
            <td>Cartão de Provimento de acesso à internet</td>
        </tr>
        <tr>
            <td></td>
            <td>0404</td>
            <td>Ficha Telefônica</td>
        </tr>
        <tr>
            <td></td>
            <td>0405</td>
            <td>Recarga de Créditos - Telefonia Fixa</td>
        </tr>
        <tr>
            <td></td>
            <td>0406</td>
            <td>Recarga de Créditos - Telefonia Móvel</td>
        </tr>
        <tr>
            <td></td>
            <td>0407</td>
            <td>Recarga de Créditos - Provimento de acesso à Internet</td>
        </tr>
        <tr>
            <td></td>
            <td>0499</td>
            <td>Outras cobranças realizadas de assinantes de plano serviço pré-pago</td>
        </tr>
        <!-- 05. Outros Serviços   -->
        <tr>
            <td class="table-active">05. Outros Serviços</td>
            <td>0501</td>
            <td>Serviço Adicional (substituição de número, troca de aparelho, emissão de 2ª via de conta, conta
                detalhada, etc.)</td>
        </tr>
        <tr>
            <td></td>
            <td>0502</td>
            <td>Serviço Facilidades (identificador de chamadas, caixa postal, transferência temporária, não-perturbe,
                etc.)</td>
        </tr>
        <tr>
            <td></td>
            <td>0599</td>
            <td>Outros Serviços</td>
        </tr>
        <!-- 06. Energia Elétrica   -->
        <tr>
            <td class="table-active">06. Energia Elétrica</td>
            <td>0601</td>
            <td>Energia Elétrica - Consumo</td>
        </tr>
        <tr>
            <td></td>
            <td>0602</td>
            <td>Energia Elétrica - Demanda</td>
        </tr>
        <tr>
            <td></td>
            <td>0603</td>
            <td>Energia Elétrica - Serviços (Vistoria de unidade consumidora, Aferição de Medidor, Ligação, Religação,
                Troca de medidor, etc.)</td>
        </tr>
        <tr>
            <td></td>
            <td>0604</td>
            <td>Energia Elétrica - Encargos Emergenciais</td>
        </tr>
        <tr>
            <td></td>
            <td>0605</td>
            <td>Tarifa de Uso dos Sistemas de Distribuição de Energia Elétrica - TUSD - Consumidor Cativo</td>
        </tr>
        <tr>
            <td></td>
            <td>0606</td>
            <td>Tarifa de Uso dos Sistemas de Distribuição de Energia Elétrica - TUSD - Consumidor Livre</td>
        </tr>
        <tr>
            <td></td>
            <td>0607</td>
            <td>Encargos de Conexão</td>
        </tr>
        <tr>
            <td></td>
            <td>0609</td>
            <td>Tarifa de Uso dos Sistemas de Transmissão de Energia Elétrica - TUST - Consumidor Livre</td>
        </tr>
        <tr>
            <td></td>
            <td>0610</td>
            <td>Subvenção econômica para consumidores da subclasse “baixa renda”</td>
        </tr>
        <tr>
            <td></td>
            <td>0699</td>
            <td>Energia Elétrica - Outros</td>
        </tr>
        <!-- 07. Disponibilização de meios ou equipamentos   -->
        <tr>
            <td class="table-active">07. Disponibilização de meios ou equipamentos</td>
            <td>0701</td>
            <td>de Aparelho Telefônico</td>
        </tr>
        <tr>
            <td></td>
            <td>0702</td>
            <td>de Aparelho Identificador de chamadas</td>
        </tr>
        <tr>
            <td></td>
            <td>0703</td>
            <td>de Modem</td>
        </tr>
        <tr>
            <td></td>
            <td>0704</td>
            <td>de Rack</td>
        </tr>
        <tr>
            <td></td>
            <td>0705</td>
            <td>de Sala/Recinto</td>
        </tr>
        <tr>
            <td></td>
            <td>0706</td>
            <td>de Roteador</td>
        </tr>
        <tr>
            <td></td>
            <td>0707</td>
            <td>de Servidor</td>
        </tr>
        <tr>
            <td></td>
            <td>0708</td>
            <td>de Decodificador/Conversor</td>
        </tr>
        <tr>
            <td></td>
            <td>0799</td>
            <td>Outras disponibilizações</td>
        </tr>
        <!-- 08. Cobranças 0801 Cobrança de Serviços de Terceiros   -->
        <tr>
            <td class="table-active">08. Cobranças</td>
            <td>0801</td>
            <td>Cobrança de Serviços de Terceiros</td>
        </tr>
        <tr>
            <td></td>
            <td>0802</td>
            <td>Cobrança de Seguros</td>
        </tr>
        <tr>
            <td></td>
            <td>0803</td>
            <td>Cobrança de Financiamento de Aparelho/Serviços</td>
        </tr>
        <tr>
            <td></td>
            <td>0804</td>
            <td>Cobrança de Juros de Mora</td>
        </tr>
        <tr>
            <td></td>
            <td>0805</td>
            <td>Cobrança de Multa de Mora</td>
        </tr>
        <tr>
            <td></td>
            <td>0806</td>
            <td>Cobrança de Conta de meses anteriores</td>
        </tr>
        <tr>
            <td></td>
            <td>0807</td>
            <td>Cobrança de Taxa Iluminação Pública</td>
        </tr>
        <tr>
            <td></td>
            <td>0808</td>
            <td>Retenção de ICMS-ST</td>
        </tr>
        <tr>
            <td></td>
            <td>0899</td>
            <td>Outras Cobranças</td>
        </tr>
        <!-- 09. Deduções 0901 Dedução relativa a impugnação de serviços   -->
        <tr>
            <td class="table-active">09. Deduções</td>
            <td>0901</td>
            <td>Dedução relativa a impugnação de serviços</td>
        </tr>
        <tr>
            <td></td>
            <td>0902</td>
            <td>Dedução referente ajuste de conta</td>
        </tr>
        <tr>
            <td></td>
            <td>0903</td>
            <td>Redutor - Energia Elétrica - In Nº 306/2003 (PIS/COFINS/IRPJ/CSLL)</td>
        </tr>
        <tr>
            <td></td>
            <td>0904</td>
            <td>Dedução relativa à multa pela interrupção de fornecimento</td>
        </tr>
        <tr>
            <td></td>
            <td>0905</td>
            <td>Dedução relativa à distribuição de dividendos Eletrobrás</td>
        </tr>
        <tr>
            <td></td>
            <td>0906</td>
            <td>Dedução relativa à subvenção econômica para consumidores da subclasse “baixa renda”</td>
        </tr>
        <tr>
            <td></td>
            <td>0907</td>
            <td>Dedução relativa à parcela do valor da operação correspondente ao valor da energia elétrica adquirida de
                terceiros, quando aplicáveis os termos do Convênio ICMS 77/11.</td>
        </tr>
        <tr>
            <td></td>
            <td>0999</td>
            <td>Outras deduções</td>
        </tr>
        <!-- 10. Serviço não medido 1001 Serviço não medido de serviços de telefonia   -->
        <tr>
            <td class="table-active">10. Serviço não medido</td>
            <td>1001</td>
            <td>Serviço não medido de serviços de telefonia</td>
        </tr>
        <tr>
            <td></td>
            <td>1002</td>
            <td>Serviço não medido de serviços de comunicação de dados</td>
        </tr>
        <tr>
            <td></td>
            <td>1003</td>
            <td>Serviço não medido de serviços de TV por Assinatura</td>
        </tr>
        <tr>
            <td></td>
            <td>1004</td>
            <td>Serviço não medido de serviços de provimento à internet</td>
        </tr>
        <tr>
            <td></td>
            <td>1005</td>
            <td>Serviço não medido de outros serviços de multimídia</td>
        </tr>
        <tr>
            <td></td>
            <td>1099</td>
            <td>Serviço não medido de outros serviços”</td>
        </tr>
        <!-- 11. Cessão de Meios de Rede   -->
        <tr>
            <td class="table-active">11. Cessão de Meios de Rede</td>
            <td>1101</td>
            <td>Interconexão: Detraf, SMS, MMS</td>
        </tr>
        <tr>
            <td></td>
            <td>1102</td>
            <td>Detrat, Transmissão</td>
        </tr>
        <tr>
            <td></td>
            <td>1103</td>
            <td>Roaming</td>
        </tr>
        <tr>
            <td></td>
            <td>1104</td>
            <td>Exploração Industrial de Linha Dedicada - EILD</td>
        </tr>
        <tr>
            <td></td>
            <td>1105</td>
            <td>Lançamento de ICMS proporcional às saídas isentas, não tributadas ou com redução de base de cálculo (§ 1º, Cláusula terceira, Convênio ICMS 17/2013)</td>
        </tr>
        <tr>
            <td></td>
            <td>1106</td>
            <td>Lançamento de ICMS proporcional às cessões de meio destinadas a consumo próprio (§ 1º Cláusula terceira,
                Convênio ICMS 17/2013)</td>
        </tr>
        <tr>
            <td></td>
            <td>1107</td>
            <td>Lançamento de ICMS complementar, na condição de responsável tributário (§ 2º, Cláusula terceira,
                Convênio 17/2013</td>
        </tr>
        <tr>
            <td></td>
            <td>1199</td>
            <td>Outras Cessões de Meios de Rede</td>
        </tr>

    </tbody>
</table>